<ion-header>
  <ion-toolbar>
    <ion-title>
      Popover Positioning Issue
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    Click the Icon to open the Popover:
  </div>
  <ion-list>
    <ion-item>
      Inline
      <ion-icon icon="information-circle" slot="end" id="inline-trigger"></ion-icon>
    </ion-item>
    <ion-item>
      Controller
      <ion-icon icon="information-circle" slot="end" (click)="present($event)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-popover trigger="inline-trigger" class="popover-fc">
  <ng-template>
    <ion-item lines="none">
      This is a Test popover
    </ion-item>
  </ng-template>
</ion-popover>
